* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}

div {
	background-color: #ddd;
	margin-bottom: 20px;
	padding: 30px;
}

#header {
	text-align: center;
}

div.products h2 {
	background-color: #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

div.products p {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #ccc;
}
button {
	border: none;
	padding: 5px;
	cursor: pointer;
	width: 120px;
	display: block;
	margin-top: 20px;
}

button:hover {
	background-color: #709670;
}
input[type="text"] {
	display: block;
	border: none;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
	outline: 0;
}
